.dart_tool
.build
build
.idea
.android
.ios
linux
macos
windows
web/.dart_tool
pubspec.lock
pubspec_overrides.yaml
.git
.gitignore
**/.DS_Store
**/Thumbs.db
**/*.iml
**/*.log
.flutter-plugins
.flutter-plugins-dependencies
coverage
